<body>
  <nav class="navbar fixed-top">
    <div class="container-fluid p-0">
      <a class="navbar-brand zoom-img" href="#" id="perfilTrigger">
        <img src="../../assets/image/voltar.svg" alt="Logo" width="40" height="" class="d-inline-block align-text-top zoom-img">
      </a>
    </div>
  </nav>
  <div>
    <div class="row justify-content-center align-items-center">
      <div class="md-4">
        <div class="outro-container BordaRedonda margem1">
          <div class="container CorConteiner1 BordaRedonda pt-3 p-3 m-0">
            <div class="container">
              <div class="row justify-content-center align-items-stretch">
                <div class="container bg-light p-4 BordaRedonda mb-2">
                  <form [formGroup]="formGroup">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group cabin2">
                            <label for="nomeCompleto" class="escritaForm">Nome:</label>
                            <input type="text" class="form-control cabin2 form1" id="nome" placeholder="Nome completo" formControlName="nome">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group cabin2">
                          <label for="genero" class="escritaForm" placeholder="Genero">Gênero:</label>
                          <select class="form-control cabin2 form1" id="genero" formControlName="genero">
                            <option value="nenhum">Nenhum</option>
                            <option value="masculino">Masculino</option>
                            <option value="feminino">Feminino</option>
                            <option value="transgenero">Transgênero</option>
                            <option value="generoNeutro">Gênero Neutro</option>
                            <option value="naoBinario">Não-Binário</option>
                            <option value="agenero">Agênero</option>
                            <option value="pangenero">Pangênero</option>
                            <option value="genderqueer">Genderqueer</option>
                            <option value="twoSpirit">Two-Spirit</option>
                            <option value="terceiroGenero">Terceiro Gênero</option>
                            <option value="todos">Todos</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group cabin2">
                      <label for="email" class="escritaForm">Email:</label>
                      <input type="email" class="form-control cabin2 form1" id="email" placeholder="email@dominio.com" formControlName="email">
                      <div class="invalid-feedback" [style.display]="formGroup.controls.email.invalid && formGroup.controls.email.touched ? 'block' : 'none'">Digite um email valido.</div>
                    </div>
                    <div class="form-group cabin2">
                      <label for="cpf" class="escritaForm">CPF:</label>
                      <input type="text" class="form-control cabin2 form1" id="cpf" placeholder="Seu CPF" formControlName="cpf">
                      <div class="invalid-feedback" [style.display]="formGroup.controls.cpf.invalid && formGroup.controls.cpf.touched ? 'block' : 'none'">Por favor, insira um CPF válido no formato XXX.XXX.XXX-XX.</div>
                    </div>
                    <div class="form-group cabin2">
                      <label for="crm" class="escritaForm">CRM:</label>
                      <input type="text" class="form-control cabin2 form1" id="crm" placeholder="Seu CRM" formControlName="crm">
                      <div class="invalid-feedback" [style.display]="formGroup.controls.crm.invalid && formGroup.controls.crm.touched ? 'block' : 'none'">Por favor, insira um CRM válido no formato XX.XXX.XX.</div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group cabin2">
                          <label for="estadoCivil" class="escritaForm">Estado Civil:</label>
                          <input type="text" class="form-control cabin2 form1" id="estadoCivil" placeholder="Seu estado civil" formControlName="estado_Civil">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group cabin2">
                          <label for="nacionalidade" class="escritaForm">Nacionalidade:</label>
                          <input type="text" class="form-control cabin2 form1" id="nacionalidade" placeholder="Nacionalidade" formControlName="nascionalidade">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group cabin2">
                          <label for="telefone" class="escritaForm">Telefone:</label>
                          <input type="text" class="form-control cabin2 form1" id="telefone" placeholder="Seu telefone" formControlName="telefone">
                          <div class="invalid-feedback" [style.display]="formGroup.controls.telefone.invalid && formGroup.controls.telefone.touched ? 'block' : 'none'">Por favor, insira um número de telefone válido no formato (XX) XXXX-XXXX ou (XX) XXXXX-XXXX.</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group cabin2">
                          <label for="dataNascimento" class="escritaForm" style="font-size: 14px;">Nascimento:</label>
                          <input type="date" class="form-control cabin2 form1" id="dataNascimento" formControlName="nascimento">
                        </div>
                      </div>
                    </div>
                    <div class="form-group cabin2">
                      <label for="senha" class="escritaForm">Senha:</label>
                      <input type="password" class="form-control cabin2 form1" id="senha" placeholder="Sua senha" formControlName="senha">
                      <div class="invalid-feedback" [style.display]="formGroup.controls.senha.invalid && formGroup.controls.senha.touched ? 'block' : 'none'">Por favor, insira uma senha forte que tenha no minimo uma letra maiuscula, uma minuscula, um caracter especial e um numero</div>
                    </div>
                    <div class="form-group cabin2">
                      <label for="confirmarSenha" class="escritaForm">Confirmar senha:</label>
                      <input type="password" class="form-control cabin2 form1" id="confirmarSenha" placeholder="Confirme sua senha">
                    </div>
                    <div class="mb-3">
                      <label for="imagem" class="form-label">Foto</label>
                      <input type="file" class="form-control" id="imagem" (change)="selectFile($event)">
                  </div>
                    <div class="container">
                      <div class="row">
                        <div class="col pt-2">
                          <button class="btn btn-primary" (click)="salvar()">Salvar</button>
                        </div>
                        <div class="col p-0">
                          <div style="text-align:right;">
                            <h6 style="margin: 0; display: inline;">Já possui uma conta?</h6>
                            <button type="submit" class="btn botao4 cabin2 mr-0" [routerLink]="'login'">clique aqui!</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>