.cabin {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  .cabin2 {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 5px;
  }

  .outro-container {
    padding: 10px;
    background-color: white;
    border: 5px solid #3C9E7D; /* Cor da borda: azul */
    border-radius: 10px;
  }

  .BordaRedonda {
    border-radius: 20px;
  }

  .CorConteiner1 {
    background-color: #66CDAA;
  }

  body {
    background-image: url('../../assets/image/fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 56px;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .foto {
    outline: 5px solid #3C9E7D;
  }

  .botao1 {
    background-color: white;
    border: 5px solid #3C9E7D;
    border-width: 5px;
    border-radius: 10px;
    color: #3C9E7D;
    font-size: medium;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
  }

  .botao1:focus {
outline: none; 
box-shadow: none; 
}

.botao1:active {
outline: none; 
box-shadow: none; 
}

  .form1 {
    background-color: white;
    border: 5px solid #3C9E7D;
    border-width: 3px;
    border-radius: 10px;
    padding: 2%;
    padding-right: 5%;
    margin: 2px;
  }
  .escritaForm{
    margin-bottom: 0px;
    margin-left: 6px;
  }

  .margem1 {
margin-bottom: 15%;
margin-left: 50px;
margin-right: 50px;
}

  .botao2 {
    background-color: white;
    border: 5px solid #3C9E7D;
    border-width: 5px;
    border-radius: 10px;
  }

  .botao3 {
    background-color: white;
    border: 5px solid #66CDAA;
    border-width: 5px;
    border-radius: 10px;
  }

  .botao4 {
    background-color: white;
    border: 5px solid #3C9E7D;
    border-width: 4px;
    border-radius: 10px;
    font-size: x-small;
  }

.botao3:hover {
background-color: transparent !important; 
border-color: #66CDAA; 
}

.botao2:hover {
background-color: transparent !important; 
border-color: #3C9E7D; 
}

.botao2:focus,
.botao3:focus {
box-shadow: none !important;
}

.botao2,
.botao3 {
position: relative;
overflow: hidden;
}

.botao2 img,
.botao3 img {
transition: transform 0.3s ease;
}

.zoomed {
transform: scale(1.2);
}

.botao1 {
  transition: transform 0.3s ease-in-out;
}

.botao1:hover {
  transform: scale(1.1);
}

  .zoom-img {
      transition: transform 0.2s;
  }
  .zoom-img:hover {
      transform: scale(1.2);
  }

  @media (max-width: 767px) {
body {
  overflow-y: scroll;
}
}