<div *ngIf="showSuccessMessages" class="alert alert-success" role="alert">
    Imagem cadastrado com sucesso!
</div>
<div *ngIf="showErrorMessages" class="alert alert-danger" role="alert">
    Erro ao cadastrar Imagem!
</div>
<h4>Cadastro de Imagem</h4>
<form [formGroup]="formGroup">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="email" class="form-control" id="nome" placeholder="Digite seu nome" formControlName="nome">
        <div class="invalid-feedback" [style.display]="formGroup.controls.nome.invalid 
    && formGroup.controls.nome.touched ? 'block' : 'none'">
            Digite o nome corretamente.</div>
    </div>
    <div class="mb-3">
        <label for="imagem" class="form-label">Imagem</label>
        <input type="file" class="form-control" id="imagem" (change)="selectFile($event)">
    </div>
    <button class="btn btn-primary" (click)="salvar()">Salvar</button>
</form>
